In [1]:
a=10

In [2]:
a

10

In [3]:
print("hello world")

hello world

In [7]:
print(123)

1 23

In [5]:
age=32
print("my age is:",age)

my age is: 32

In [6]:
### f string used for formatting purpose
print(f"my age is:{age}")

my age is:32

In [11]:
## format() 
name="krish"
age=32
print("My name is {} and age is {}".format(name,age))

My name is krish and age is 32

In [12]:
print("My name is {} and age is {}".format(age,name))

My name is 32 and age is krish

In [13]:
### place holder 
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is krish and age is 32

In [15]:
name="Pravesh Kumar"
age=32
degree="BE"
print(f"my age is {age} and i have completed: my degree of {degree} with the name of {name} ")

my age is 32 and i have completed: my degree of BE with the name of Pravesh Kumar

In [17]:
print("my age is {} and i have completed: my degree {} with the name of {}".format(age,degree,name))

my age is 32 and i have completed: my degree BE with the name of Pravesh Kumar

## Control Flow
### Decision making statments

In [31]:
# IF stmnt
age=24
if age>= 18:
    print("you are eligible to vote")

you are eligible to vote

In [20]:
input()

 Pravesh Yadav

'Pravesh Yadav'

In [22]:
name = input("Enter the name")
name

Enter the name Engineer

'Engineer'

In [23]:
name

'Engineer'

In [11]:
age=int(input("Enter your age"))

Enter your age 3

In [25]:
age

32

In [30]:
## Task
## Take a input of age
## chevk weather age>=18 and age <=45
## display a message you are young blood
age =int(input("Enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")

Enter your age: 55

## if else statments

In [33]:
## Task
## Take a input of age
## chevk weather age>=18 and age <=45
## display a message you are young blood
age =int(input("Enter your age:"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print('your application is rejected')

Enter your age: 55

your application is rejected

In [ ]:
## mall - input the product price
## product >1000rs 20% off
## product <=1000rs 30% off
### print the poroduct price

In [36]:
product_price= int(input("Enter the product price"))
if product_price>1000 :
    print("product price is :{}".format(product_price*0.8))
else:
    print("the price of product is :{}".format(product_price*0.7))

Enter the product price 5000

product price is :4000.0

In [ ]:
## mall - input the product price
## product >3000rs 20% off
## product >=2000rs and <=3000 30% off
## product 0 and <=2000 40% off
### print the poroduct price

In [8]:
product_price= int(input("Enter the product price"))
if product_price>3000 :
    print("product price is :{}".format(product_price*0.8))
elif product_price>=2000 and product_price<=3000:
    print("product price is :{}".format(product_price*0.7))
else:
    print("the price of product is :{}".format(product_price*0.7))

Enter the product price 1

the price of product is :0.7

In [ ]:
## mall - input the product price
## product >3000rs 20% off
## product price == 4000 you get a trip to go delhi
## product >=2000rs and <=3000 30% off
## price== 2999 you will get additional gift
## product 100rs and <=2000 40% off
### print the poroduct price

In [10]:
product_price=int(input("Enter the product price"))
if product_price>3000:
    if product_price== 4000:
        print("Congratulations you got a trip to delhi")
    print(f"the price of the product is{product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    ## nested if - if inside if
    if product_price==2999:
        print("congratulations you get an additional gift")
    print(f"the product price is {product_price*0.7}")
elif product_price>100 and product_price<2000:
    print(f"the price of product is{product_price*0.6}")
else:
    print("lets take a tea")

Enter the product price 2

lets take a tea

# Single Statement
val=int(input("Enter the number"))
if(val<=999):print("value is less than equal to 999")
else:
    print("Go home")

## loops statements
1. while loop
2. for
3. nested loops
4. loop controls(break,continue,pass)

In [19]:
# while loop while-else
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("its time for retirment")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time for retirment

In [29]:
## ATM machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money ")

1000
900
800
700
600
500
400
300
200
100
Put more money

## for loops

In [3]:
st=["Krish",1,2,3,4,"apple","Banana"] ## list

In [4]:
type(st)

list

In [5]:
st

['Krish', 1, 2, 3, 4, 'apple', 'Banana']

In [7]:
for x in st:
    print(x)

Krish
1
2
3
4
apple
Banana

In [11]:
fruit_list=["Mango","Cherry","Apple","Papaya","Banana"] ## basket of fruits

In [15]:
for a in fruit_list:
    print(a,end=' ')
    if a=="Cherry":
        print("The fruit is cherry")

Mango Cherry The fruit is cherry
Apple Papaya Banana

In [1]:
fruit='Mango'
for x in fruit:    ## String is collection of element
    print(x)

M
a
n
g
o

In [2]:
fruit[2]

'n'

In [6]:
for i in range(1, 10):    ### range 
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,16,3):   ### 3rd parameter is step size.
    print(i)

1
4
7
10
13

In [7]:
### Nested loops
n=7
for i in range(0,n):
    ##print(end=" ")
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [13]:
### Nested loops
n=7
for i in range(0,n):
    ##print(end=" ")
    for j in range(0,2*i+1):
        print("*",end="")
    print("\r")

*
***
*****
*******
*********
***********
*************

In [ ]:
## loop controls
## Break and Continue

In [2]:
fruit_list=["Mango","Cherry","Apple","Papaya","Banana"] ## basket of fruits

In [3]:
## break- stop the loop
for i in fruit_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [4]:
## pass- 
for i in fruit_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [6]:
## continue- skip the loop
for i in fruit_list:
    if i=="Apple":
        print("the fruit is apple")
        continue
    print(i)

Mango
Cherry
the fruit is apple
Papaya
Banana